<div class="container mt-5">
    <div *ngIf="student; else loading" class="card">
        <div class="card-body">
            <h2 class="card-title" style="color: darkred;">{{ student.FirstName }} {{ student.LastName }}</h2>
            <div class="row">
                <div class="col-md-4">
                    <img *ngIf="student.ProfilePic" [src]="'data:image/jpeg;base64,' + student.ProfilePic"
                        alt="Profile Picture" class="img img-thumbnail">
                </div>
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Gender:</strong> {{ student.Gender }}</li>
                        <li class="list-group-item"><strong>Date of Birth:</strong> {{ student.Dob | date }}</li>
                        <li class="list-group-item"><strong>Contact:</strong> {{ student.Contact }}</li>
                        <li class="list-group-item"><strong>Address:</strong> {{ student.StudentAddress }}</li>
                        <!-- <li class="list-group-item"><strong>Course ID:</strong> {{ student.courseId }}</li> -->
                        <a [routerLink]="['/student/course-detail']" [queryParams]="{ courseId: student.CourseId }">
                            <li class="list-group-item">
                            <strong>Course ID:</strong> {{ student.CourseId }}
                            </li>
                        </a>
                        <li class="list-group-item"><strong>Academic Year:</strong> {{ student.AcademicYear }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <div class="alert alert-info">
            <strong>Loading...</strong> Please wait while we fetch the student details.
        </div>
    </ng-template>
</div>